@model IEnumerable<AppDev_MCA.Models.TraineeCourse>
@{
    ViewBag.Title = "ViewAssignedCourse";
}

<h2>ViewAssignedCourse</h2>
@Html.ActionLink("Back to Home", "Index", "Trainees",
    null,
    new { @class = "btn btn-primary" })
<table class="table table-bordered">
    <thead>
        <tr>
            <th>CourseName</th>
            <th>CategoryName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CourseName</td>
                <td>@item.Course.Category.Name</td>
            </tr>
        }
    </tbody>
</table>