
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
@Html.ActionLink("View Profile", "ViewProfile", "Trainers", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Update Profile", "UpdateProfile", "Trainers", null, new { @class = "btn btn-primary" })
@Html.ActionLink("View Courses Are Assigned", "ViewAssignedCourse", "Trainers", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Change Password", "ChangePassword", "Trainers", null, new { @class = "btn btn-primary" })

