
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("List TrainingStaff", "ListTrainingStaff", "Admins", null, new { @class = "btn btn-primary" })

@Html.ActionLink("List Trainer Account", "ListTrainer", "Admins", null, new { @class = "btn btn-primary" })
