
@{
    ViewBag.Title = "Index";
}
<h2>Home</h2>
@Html.ActionLink("Manage Course", "ListCourse", "TrainingStaffs", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Manage Category", "ListCategory", "TrainingStaffs", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Manage Account", "ManageAccount", "TrainingStaffs", null, new { @class = "btn btn-primary" })

